
@{
    ViewBag.Title = "Add";
}

<form action="add" method="post">
    <h2>Add new item</h2>
    <label> Choose your Energy drink from our database</label>
    <input type="text" name="Brand" placeholder="Brand" required autofocus /></br>
    <label>Name of Energy</label>
    <input type="text" name="Name" placeholder="Name" required autofocus /></br>
    <label>Size of the bottle</label>
    <input type="text" name="Size" placeholder="Size" required autofocus /></br>
    <label>Does it contain coffein? How much?</label>
    <input type="text" name="Coffein" placeholder="Coffein" required autofocus /></br>
    <label>Does it contain Sugar? How much?</label>
    <input type="text" name="Sugar" placeholder="Sugar" required autofocus /></br>
    <button type="submit"> Submit </button> 
</form>

