@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="d-flex justify-content-center">
    <div>
        <h2>Upload your product</h2>
    </div>
</div>
<div class="d-flex justify-content-center" style="">
    @using (Html.BeginForm("add", "Market", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="mb-3">
            <label> Choose your Energy drink from our database</label>
            <input class="form-control" type="text" name="Brand" placeholder="Brand" required autofocus />
            <br>
        </div>
        <div class="mb-3">
            <label>Name of Energy</label>
            <input class="form-control" type="text" name="Name" placeholder="Name" required autofocus />
            <br>
        </div>
        <div class="mb-3">
            <label>Size of the bottle</label>
            <input class="form-control" type="text" name="Size" placeholder="Size" required autofocus />
            <br>
        </div>
        <div class="mb-3">
            <label>Does it contain coffein? How much?</label>
            <input class="form-control" type="text" name="Coffein" placeholder="Coffein" required autofocus />
            <br>
        </div>
        <div class="mb-3">
            <label>Does it contain Sugar? How much?</label>
            <input class="form-control" type="text" name="Sugar" placeholder="Sugar" required autofocus />
            <br>
        </div>
        <div class="mb-3">
            <label>Upload your photo</label>
            <label for="Image">Image</label>

            <input class="form-control" type="file" name="ImageFile" />
        </div>
        <div class="mb-3">
            <input class="btn btn-primary" type="submit" name="Submit" id="Submit" value="Upload" />
        </div>

    }
</div>
 <!-- New Customers -->
                <div class="recentCustomers">
                    <div class="cardHeader">
                        <h2>Recent Customers</h2>
                    </div>
                    <table>
                        <tr>
                            <td width="60px"><div class="imgBx"><img src="img1.jpg"></div></td>
                            <td><h4>David<br><span>Italy</span></h4></td>
                        </tr>
                        <tr>
                            <td><div class="imgBx"><img src="img2.jpg"></div></td>
                            <td><h4>Muhammad<br><span>India</span></h4></td>
                        </tr>
                        <tr>
                            <td><div class="imgBx"><img src="img3.jpg"></div></td>
                            <td><h4>Amelia<br><span>France</span></h4></td>
                        </tr>
                        <tr>
                            <td><div class="imgBx"><img src="img4.jpg"></div></td>
                            <td><h4>Olivia<br><span>USA</span></h4></td>
                        </tr>
                        <tr>
                            <td><div class="imgBx"><img src="img5.jpg"></div></td>
                            <td><h4>Amit<br><span>Japan</span></h4></td>
                        </tr>
                        <tr>
                            <td><div class="imgBx"><img src="img6.jpg"></div></td>
                            <td><h4>Ashraf<br><span>India</span></h4></td>
                        </tr>
                        <tr>
                            <td><div class="imgBx"><img src="img7.jpg"></div></td>
                            <td><h4>Diana<br><span>Malaysia</span></h4></td>
                        </tr>
                        <tr>
                            <td><div class="imgBx"><img src="img8.jpg"></div></td>
                            <td><h4>Amit<br><span>India</span></h4></td>
                        </tr>
                    </table>
                </div>
