
<meta charset="utf-8">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script type="text/javascript">
    $(document).on('click', 'chat_list', function (){
        $(this).addClass('active_chat_list');
        console.log("called");
    })
console.log("called");
</script>

<div class="container">
    <h3 class=" text-center">Messaging</h3>
    <div class="messaging">
        <div class="inbox_msg">
            <div class="inbox_people">
                <div class="inbox_chat">
                    <div class="chat_list">
                        <div class="chat_people">
                            <div class="chat_img"><img class="avatar" src="https://www.w3schools.com/howto/img_avatar.png" alt="Bhargav Raviya"> </div>
                            <div class="chat_ib">
                                <h5>Bhargav Raviya <span class="chat_date">May 16</span></h5>
                                <p>
                                    Test, which is a new approach to have all solutions
                                    astrology under one roof.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="chat_list">
                        <div class="chat_people">
                            <div class="chat_img"><img class="avatar" src="https://www.w3schools.com/howto/img_avatar.png" alt="Bhargav Raviya"> </div>
                            <div class="chat_ib">
                                <h5>Bhargav Raviya <span class="chat_date">May 16</span></h5>
                                <p>
                                    Test, which is a new approach to have all solutions
                                    astrology under one roof.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="mesgs">
                <div class="msg_history">
                    <div class="incoming_msg" >
                        <div class="incoming_msg_img"><img class="avatar" src="https://www.w3schools.com/howto/img_avatar.png" alt="Bhargav Raviya"> </div>
                        <div class="received_msg">
                            <div class="received_withd_msg">
                                <p>
                                    Test which is a new approach to have all
                                    solutions
                                </p>
                                <span class="time_date"> 03:05 AM    |    June 9</span>
                            </div>
                        </div>
                    </div>

                    <div class="outgoing_msg">
                        <div class="sent_msg">
                            <p>Gujarat University , Gujarat, India</p>
                            <span class="time_date"> 12:00 AM    |    Today</span>
                        </div>
                    </div>
                    <div class="incoming_msg">
                        <div class="incoming_msg_img"> <img class="avatar" src="https://www.w3schools.com/howto/img_avatar.png" alt="Bhargav Raviya"> </div>
                        <div class="received_msg">
                            <div class="received_withd_msg">
                                <p>
                                    We work directly with our designers and suppliers,
                                    and sell direct to you, which means quality, exclusive
                                    products, at a price anyone can afford.
                                </p>
                                <span class="time_date"> 03:05 AM    |    Today</span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="type_msg">
                    <div class="input_msg_write">
                        <input type="text" class="write_msg" placeholder="Type a message" />
                        <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <p class="text-center top_spac"> Design by <a target="_blank" href="http://www.rajtechnologies.com">Bhargav Raviya</a></p>
    </div>
</div>


