<form action="/Home/Login" method="post">
    <h2>Login</h2>
    <label for="username">Username</label>
    <input type="text" id="Name" name="Name" placeholder="Username" required autofocus /><br />
    <label for="username">Password</label>
    <input type="text" id="Password" name="Password" placeholder="Password" required autofocus /><br />
    <button type="submit"> Login </button> or
    <a href="/Home/Register">Register</a>
</form>