@{
    ViewBag.Title = "register";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@if (@ViewData["Exist"] != null)
{
    <h3>@ViewData["Exist"] nevű felhasználó már foglalt</h3>
}
<div class="d-flex justify-content-center">
    <h1>Register form </h1>
</div>
<div class="d-flex justify-content-center">
    <form style="width:500px" action="/Home/Register" method="post">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input class="form-control" type="text" id="Name" name="Name" placeholder="Username" required autofocus />
            <div id="emailHelp" class="form-text"></div>
        </div>
        <label for="inputPassword5" class="form-label">Password</label>
        <input class="form-control" type="password" id="password" name="password" placeholder="Password" required autofocus />
        <div id="passwordHelpBlock" class="form-text">
        </div>
        <label for="inputPassword5" class="form-label">Password Again</label>
        <input class="form-control" type="password" id="password2" name="password2" placeholder="password again" required autofocus /><br>
        <div id="passwordHelpBlock" class="form-text">
        </div>
</div>

<div class="d-flex justify-content-center">

    <div class="row">
        <div class="col d-md-flex">
            <button type="submit" class="btn btn-primary">Register</button>
            <h3> </h3>

            </form>
        </div>
    </div>
</div>




