<div class="wrapper bg-white mt-sm-5">
    <h4 class="pb-4 border-bottom">Account settings</h4>
    @if (ViewData["error"] != null)
    {
        <h1>@ViewData["error"]</h1>
    }
    @using (Html.BeginForm("Settings", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        var base64 = Convert.ToBase64String(@Model.Image);
        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
        <div class="d-flex align-items-start py-3 border-bottom">
            <img src="@imgSrc" class="img" alt="">

            <div class="pl-sm-4 pl-2" id="img-section">
                <b>Profile Photo</b>
                <p>Accepted file type .png. Less than 1MB</p>
                <div class="custom-file">
                    <input type="file" name="ImageFile" class="custom-file-input" id="customFile">
                    <label style="width:300px" class="custom-file-label" for="customFile"></label>
                    <input type="submit" name="ImageFile" value="Submit" class="btn btn-primary mr-3">
                </div>
            </div>
        </div>
    }
    
    <form action="/Home/Settings" method="post">
        <div class="py-2">
            <div class="row py-2">
                <div class="col-md-6"> <label for="firstname">Old Password</label> <input type="password" name="oldPassword" class="bg-light form-control" placeholder=" Old password"> </div>
            </div>
            <div class="row py-2">
                <div class="col-md-6"> <label for="newPw">New password</label> <input type="password" name="newPassword1" class="bg-light form-control" placeholder="New password" required> </div>
                <div class="col-md-6 pt-md-0 pt-3"> <label for="newPw">New password again</label> <input type="password" name="newPassword2" class="bg-light form-control" placeholder="New password again" required> </div>
            </div>
            <div class="py-3 pb-4 border-bottom"> <input type="submit" value="Submit" class="btn btn-primary mr-3"> <button class="btn border button">Cancel</button> </div>
            <div class="d-sm-flex align-items-center pt-3" id="deactivate">
                <div>
                    <b>Deactivate your account</b>
                    <p>Details about your company account and password</p>
                </div>
                <div class="ml-auto"> <button class="btn danger">Deactivate</button> </div>
            </div>

        </div>

    </form>

</div>

